
.button{
    color: white;
    background-color: rgb(12, 79, 124);
    border: 1px black solid;
    font-size: 20px;
    font-weight: 600;
    padding: 6px;
    border-radius: 16px;
    transition: all;
    transition-duration: 250ms;
}

.button:hover{
    background-color: rgb(5, 34, 53);
    padding: 6px 12px 6px 12px;
}